html {
  margin: 0;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse, #cfcae4, #6f3acf);
}

html body .dashboard {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  -ms-grid-rows: 1fr 0.8fr;
      grid-template-rows: 1fr 0.8fr;
}

html body .dashboard__elem {
  background-color: #f7f7f9;
  border-radius: 40px;
  -webkit-box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);
          box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);
  margin: 20px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

html body .dashboard__graphicsBlock {
  padding: 10px;
  width: 50%;
}

@media screen and (max-width: 700px) {
  html body .dashboard__graphicsBlock {
    height: 300px;
    width: auto;
  }
}

html body .dashboard__userBlock {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  color: #68666e;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (max-width: 280px) {
  html body .dashboard__userBlock {
    width: 230px;
  }
}

@media screen and (min-width: 281px) and (max-width: 320px) {
  html body .dashboard__userBlock {
    width: 280px;
  }
}

@media screen and (min-width: 321px) and (max-width: 800px) {
  html body .dashboard__userBlock {
    width: 320px;
  }
}

@media screen and (min-width: 801px) {
  html body .dashboard__userBlock {
    width: 350px;
  }
}

html body .dashboard__userBlock__inputimg {
  font-size: small;
}

html body .dashboard__userBlock__img {
  border-radius: 100%;
  max-height: 200px;
  margin: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
}

html body .dashboard__userBlock__name {
  font-size: 1.5em;
  color: #4e2a92;
  font-weight: 600;
}

html body .dashboard__userBlock__cristall {
  margin-top: 15px;
  margin-bottom: -10px;
}

html body .dashboard__userBlock__cristall__count {
  color: #68666e;
  border: 1px solid;
  border-color: #cfcae4;
  font-size: 19px;
  font-weight: bold;
  width: 70px;
  text-align: center;
}

html body .dashboard__userBlock__progress {
  display: -ms-grid;
  display: grid;
  position: relative;
}

html body .dashboard__userBlock__progress__text {
  font-size: 20px;
  text-align: center;
}

html body .dashboard__weatherBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (max-width: 280px) {
  html body .dashboard__weatherBlock {
    width: 230px;
  }
}

@media screen and (min-width: 281px) and (max-width: 320px) {
  html body .dashboard__weatherBlock {
    width: 280px;
  }
}

@media screen and (min-width: 321px) and (max-width: 800px) {
  html body .dashboard__weatherBlock {
    width: 320px;
  }
}

@media screen and (min-width: 801px) {
  html body .dashboard__weatherBlock {
    width: 350px;
  }
}

html body .dashboard__timeDateBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 10px;
  justify-items: center;
}

@media screen and (max-width: 280px) {
  html body .dashboard__timeDateBlock {
    width: 230px;
  }
}

@media screen and (min-width: 281px) and (max-width: 320px) {
  html body .dashboard__timeDateBlock {
    width: 280px;
  }
}

@media screen and (min-width: 321px) and (max-width: 800px) {
  html body .dashboard__timeDateBlock {
    width: 320px;
  }
}

@media screen and (min-width: 801px) {
  html body .dashboard__timeDateBlock {
    width: 350px;
  }
}

html body .dashboard__notesBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 50%;
}

@media screen and (max-width: 280px) {
  html body .dashboard__notesBlock {
    width: 230px;
  }
}

@media screen and (min-width: 281px) and (max-width: 320px) {
  html body .dashboard__notesBlock {
    width: 280px;
  }
}

@media screen and (min-width: 321px) and (max-width: 800px) {
  html body .dashboard__notesBlock {
    width: 320px;
  }
}

@media screen and (min-width: 801px) {
  html body .dashboard__notesBlock {
    width: 350px;
  }
}

.animation {
  position: relative;
  -webkit-animation: width-up 2s;
          animation: width-up 2s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes width-up {
  from {
    height: 0px;
  }
  to {
    height: 180px;
  }
}

@keyframes width-up {
  from {
    height: 0px;
  }
  to {
    height: 180px;
  }
}

.line-chart {
  -webkit-animation: fadeIn 600ms cubic-bezier(0.57, 0.25, 0.65, 1) 1 forwards;
          animation: fadeIn 600ms cubic-bezier(0.57, 0.25, 0.65, 1) 1 forwards;
  opacity: 0;
  max-width: 640px;
  width: 100%;
}

.aspect-ratio {
  height: 0;
  padding-bottom: 50%;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.current {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5;
}

.current__line:first-child {
  font-weight: 600;
}

.current__line {
  color: #68666e;
  font-size: 19px;
}

#w-icon {
  width: 100px;
}

.weather {
  padding: 10px;
}

.weather__title {
  color: #4e2a92;
  font-weight: 600;
}

.weather__cityName {
  margin: 8px 0;
}

button {
  padding: 4px 8px;
  border: none;
  border-radius: 10px;
}

button:hover {
  -webkit-filter: drop-shadow(1px 2px 4px #6f37b9);
          filter: drop-shadow(1px 2px 4px #6f37b9);
  border: none;
  border-radius: 10px;
  background-color: #6f3acf;
  color: white;
}

.notes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.notes__title {
  color: #4e2a92;
}

.notes__block {
  line-height: 1.25px;
}

.note__text {
  margin: 0px 10px;
}

.result__list {
  text-decoration: none;
}

ul {
  padding: 10px;
}

li {
  text-align: start;
  list-style-type: none;
}

.note-body {
  margin: 0px 10px;
}

#time {
  padding: 20px;
  font-size: 50px;
  font-weight: 800;
  color: #4e2a92;
}

#date {
  font-weight: 600;
  font-size: 30px;
  color: #68666e;
}

#fact {
  padding: 10px;
  font-size: 19px;
  color: #68666e;
}

#fact > p {
  font-weight: 600;
}

.dashboard__container-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard__container-2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=dashboard.css.map */