html {
  margin: 0;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse, #cfcae4, #6f3acf);
}

html body .dashboard {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 700px) {
  html body .dashboard {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

@media screen and (min-width: 701px) {
  html body .dashboard {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

html body .dashboard__elem {
  background-color: #f7f7f9;
  border-radius: 40px;
  -webkit-box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);
          box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);
  margin: 20px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

html body .dashboard__userBlock {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7b7883;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (max-width: 280px) {
  html body .dashboard__userBlock {
    width: 230px;
  }
}

@media screen and (min-width: 281px) and (max-width: 320px) {
  html body .dashboard__userBlock {
    width: 280px;
  }
}

@media screen and (min-width: 321px) and (max-width: 800px) {
  html body .dashboard__userBlock {
    width: 320px;
  }
}

@media screen and (min-width: 801px) {
  html body .dashboard__userBlock {
    width: 350px;
  }
}

html body .dashboard__userBlock__inputimg {
  font-size: small;
  margin-top: 8px;
}

html body .dashboard__userBlock__img {
  border-radius: 100%;
  max-height: 200px;
  margin: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
}

html body .dashboard__userBlock__name {
  font-size: 20px;
}

html body .dashboard__userBlock__cristall {
  margin-top: 15px;
  margin-bottom: -10px;
}

html body .dashboard__userBlock__cristall__count {
  color: #7b7883;
  border: 1px solid;
  border-color: #cfcae4;
  font-size: 19px;
  font-weight: bold;
  width: 70px;
  text-align: center;
}

html body .dashboard__userBlock__progress {
  display: -ms-grid;
  display: grid;
  position: relative;
}

html body .dashboard__userBlock__progress__text {
  font-size: 20px;
  text-align: left;
  margin-left: 30px;
}

html body .dashboard__userBlock__progress__text__button {
  margin-left: 20px;
  border-radius: 40px;
  border-color: #cfcae4;
  color: #7b7883;
}

html body .dashboard__userBlock__progress__text__button:hover {
  background-color: #cfcae4;
  color: white;
}

.animation {
  position: relative;
  -webkit-animation: width-up 2s;
          animation: width-up 2s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes width-up {
  from {
    height: 0px;
  }
  to {
    height: 180px;
  }
}

@keyframes width-up {
  from {
    height: 0px;
  }
  to {
    height: 180px;
  }
}

.line-chart {
  -webkit-animation: fadeIn 600ms cubic-bezier(0.57, 0.25, 0.65, 1) 1 forwards;
          animation: fadeIn 600ms cubic-bezier(0.57, 0.25, 0.65, 1) 1 forwards;
  opacity: 0;
  max-width: 640px;
  width: 100%;
}

.aspect-ratio {
  height: 0;
  padding-bottom: 50%;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=dashboard.css.map */