@import "variables.scss";

html {
    margin: 0;
    min-height: 100%;
    display: flex;
    align-items: center;

    body {
        margin: 0;
        height: 100%;
        width: 100%;
        background: radial-gradient(ellipse, $light-violet, $main-violet);

        .dashboard {
            display: grid;
            height: 100%;
            width: 100%;

            @media screen and (max-width: 700px) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
            }

            @media screen and (min-width: 701px) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }

            &__elem {
                background-color: $superlight-violet;
                border-radius: 40px;
                box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);
                margin: 20px;
                font-family: $main-font;
                text-align: center;
            }

            &__userBlock {
                display: grid;
                align-items: center;
                color: $grey;

                @media screen and (max-width: 280px) {
                    width: 230px;
                }

                @media screen and (min-width: 281px) and (max-width: 320px) {
                    width: 280px;
                }

                @media screen and (min-width: 321px) and (max-width: 800px) {
                    width: 320px;
                }

                @media screen and (min-width: 801px) {
                    width: 350px;
                }

                justify-self: center;


                &__inputimg {
                    font-size: small;
                    margin-top: 8px;
                }

                &__img {
                    border-radius: 100%;
                    max-height: 200px;
                    margin: 10px;
                    justify-self: center;
                }

                &__name {
                    font-size: 20px;
                }

                &__cristall {
                    margin-top: 15px;
                    margin-bottom: -10px;

                    &__count {
                        color: $grey;
                        border: 1px solid;
                        border-color: $light-violet;
                        font-size: 19px;
                        font-weight: bold;
                        width: 70px;
                        text-align: center;
                    }
                }

                &__progress {
                    &__text {
                        font-size: 20px;
                        text-align: left;
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}